.header__h1 {
  color: #131316;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Poppins;
  font-size: 64px;
  font-style: normal;
  font-weight: 500;
  line-height: 110%;
  letter-spacing: -2px;
}
.header__pOne {
  color: #131316;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  margin: 24px 0 40px 0;
}
.header__button {
  display: flex;
  gap: 16px;
}
.header__buttonOne {
  background: #4891FF;
  color: #fff;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  padding: 14px 32px;
  border-radius: 16px;
  border: 2px solid transparent;
  transition: all linear 0.5s;
}
.header__buttonOne:hover {
  border: 2px solid #4891FF;
  background: #fff;
  color: #4891FF;
}
.header__buttonTwo {
  background: #4891FF;
  color: #fff;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  padding: 14px 32px;
  border-radius: 16px;
  border: 2px solid transparent;
  transition: all linear 0.5s;
  display: flex;
  gap: 10px;
  color: #131316;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  background: #F5F5F5;
}
.header__buttonTwo:hover {
  border: 2px solid #4891FF;
  background: #fff;
  color: #4891FF;
}

.Essential__div {
  width: 190px;
  height: 190px;
  flex-shrink: 0;
  border-radius: 16px;
  background: #DAF4FE;
  padding: 25px;
}
.Essential__img {
  gap: 24px;
}
.Essential__button {
  background: #4891FF;
  color: #fff;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  padding: 6px 60px;
  border-radius: 5px;
  border: 2px solid transparent;
  transition: all linear 0.5s;
  font-size: 12px;
}
.Essential__button:hover {
  border: 2px solid #4891FF;
  background: #fff;
  color: #4891FF;
}
.Essential__Team {
  color: #131316;
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
}
.Essential__invited {
  color: #131316;
  text-align: center;
  font-family: Poppins;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.graphic {
  width: 400px;
  margin-bottom: 140px;
}

.column__div {
  gap: 20px;
  margin-bottom: 190px;
}

.wrapper {
  position: relative;
}
.wrapper__one {
  width: 40%;
}
.wrapper__div {
  width: 246.387px;
  height: 170.704px;
  flex-shrink: 0;
  border-radius: 16px;
  background: #DAF4FE;
  padding: 12px;
  position: absolute;
  z-index: 3;
  top: 238px;
  right: -13px;
}
.wrapper__div--h5 {
  color: #131316;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
}
.wrapper__div--p {
  color: #131316;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.wrapper__button {
  background: #4891FF;
  color: #fff;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  padding: 8px 50px;
  border-radius: 6px;
  border: 2px solid transparent;
  transition: all linear 0.5s;
  font-size: 12px;
  margin-left: 31px;
}
.wrapper__button:hover {
  border: 2px solid #4891FF;
  background: #fff;
  color: #4891FF;
}

.wrapper2 {
  margin-top: -96px;
}
.wrapper2__h1 {
  color: #131316;
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Poppins;
  font-size: 44px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: -1px;
}
.wrapper2__p {
  color: #494A4D;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}

.wrapper__one--h2 {
  color: #131316;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Poppins;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: -1px;
}
.wrapper__one--p {
  color: #494A4D;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}
.wrapper__one--h3 {
  color: #131316;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 100;
  line-height: 120%;
}

.img2625 {
  position: relative;
}

.yellow__div {
  background: #F6FEE0;
}

.dark__div {
  background: #131316;
  width: 246.387px;
  height: 204.815px;
  flex-shrink: 0;
  border-radius: 16px;
  padding: 32px;
  position: absolute;
  z-index: 2;
  top: 98px;
  left: 111px;
}

.wrapper2__internal {
  position: relative;
  justify-content: space-between;
}
.wrapper2__internal--p1 {
  color: #fff;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
}
.wrapper2__internal--p2 {
  color: #DFECF4;
  font-family: Poppins;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.wrapper2__internal--p3 {
  color: #fff;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
}
.wrapper2__internal--button {
  background: #4891FF;
  color: #fff;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  padding: 6px 70px;
  border-radius: 6px;
  border: 2px solid transparent;
  transition: all linear 0.5s;
  font-size: 12px;
}
.wrapper2__internal--button:hover {
  border: 2px solid #4891FF;
  background: #fff;
  color: #4891FF;
}
.wrapper2__internal .girl {
  margin-left: 194px;
  position: relative;
  z-index: 2;
  top: -5px;
}
.wrapper2__internal .Rectangle {
  margin-left: 200px;
  position: absolute;
  z-index: 1;
  top: 170px;
}

.img-text {
  margin-top: 8px;
  margin-left: 193px;
  gap: 14px;
}

.microfone {
  position: absolute;
  z-index: 4;
  top: 303px;
  left: 517px;
}

.Learn {
  gap: 8px;
}

.img-bg {
  background: #FAFAFA;
}

.wrapper3 {
  padding-top: 100px;
  justify-content: space-between;
}
.wrapper3__massages {
  width: 288.972px;
  height: 365.017px;
  flex-shrink: 0;
  background: #DAF4FE;
  border-radius: 16px;
  padding: 32px;
}
.wrapper3__massages input {
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.5);
  border: none;
  padding: 4px 0px 4px 37px;
  outline: none;
}

.biography {
  padding: 10px;
  gap: 13px;
}
.biography__p1 {
  color: #131316;
  font-family: Poppins;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.biography__p2 {
  color: rgba(0, 0, 0, 0.7);
  font-family: Poppins;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.biography__p3 {
  color: #131316;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.graphic_img {
  margin-right: -57px;
}

.wrapper4 {
  justify-content: space-between;
}
.wrapper4 .end__div {
  gap: 18px;
}
.wrapper4 .end__div--left {
  width: 246.387px;
  height: 346.767px;
  flex-shrink: 0;
  border-radius: 16px;
  background: #131316;
  padding: 35px 32px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.wrapper4 .end__div--h3 {
  color: #fff;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
}
.wrapper4 .end__div--p1 {
  color: #fff;
  font-family: Poppins;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.wrapper4 .end__div--p2 {
  color: #DBEDF8;
  font-family: Poppins;
  font-size: 8px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.wrapper4 .end__div--todo {
  gap: 12px;
}
.wrapper4 .icon {
  width: 40.557px;
  height: 40.557px;
  flex-shrink: 0;
  border-radius: 8px;
  background: #fff;
}
.wrapper4 .right__top {
  width: 246.387px;
  height: 163.244px;
  flex-shrink: 0;
  border-radius: 16px;
  background: #fff;
  padding: 32px;
}
.wrapper4 .right__top .number {
  gap: 14px;
}
.wrapper4 .right__top--p1 {
  color: #131316;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
}
.wrapper4 .right__top--p2 {
  color: #131316;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Poppins;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: -1px;
}
.wrapper4 .right__bottom {
  width: 246.387px;
  height: 163.244px;
  flex-shrink: 0;
  border-radius: 16px;
  background: #F6FEE0;
  padding: 32px;
}
.wrapper4 .right__bottom .number {
  gap: 14px;
}

.wrapper4__h3 {
  color: #131316;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Poppins;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: -1px;
}
.wrapper4__p {
  color: #494A4D;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}

@media (max-width: 1215px) {
  .wrapper4,
  .wrapper3 {
    flex-wrap: wrap;
  }
  .wrapper2__internal {
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }
  .wrapper2__internal .girl {
    margin-left: 0;
  }
  .wrapper2__internal .Rectangle {
    margin-left: 12px;
    margin-top: 181px;
  }
  .wrapper2__internal .microfone {
    top: 485px;
    left: 552px;
  }
  .wrapper2__internal .dark__div {
    top: 289px;
    left: 146px;
  }
  .wrapper2__internal .img-text {
    margin-left: 12px;
  }
  .margin {
    margin-top: 50px;
  }
  .wrapper2__dashboard {
    display: flex;
    flex-wrap: wrap;
  }
}
@media (max-width: 1202px) {
  .wrapper4,
  .wrapper3,
  .wrapper2__internal {
    justify-content: center;
  }
  .Business {
    margin-left: 115px;
  }
}
.testimonial {
  padding-top: 97px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 44px;
  background: #131316;
  padding-bottom: 104px;
  border-bottom: 1px solid #494949;
}
.testimonial h3 {
  color: #fff;
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Poppins;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 57.6px */
  letter-spacing: -1px;
}
.testimonial img {
  width: 835px;
  height: 486px;
  padding-bottom: 20px;
}
.testimonial button {
  background: #4891FF;
  color: #fff;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  padding: 16px 32px;
  border-radius: 16px;
  border: 2px solid transparent;
  transition: all linear 0.5s;
  margin-bottom: 20px;
}
.testimonial button:hover {
  border: 2px solid #4891FF;
  background: #fff;
  color: #4891FF;
}

.testt {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #131316;
}
.testt .testimonial-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 105px 85px;
}
.testt .testimonial-2 h4 {
  padding-bottom: 65px;
  color: #fff;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Poppins;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 57.6px */
  letter-spacing: -1px;
}
.testt .testimonial-2 .test-item {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 24px;
}
.testt .testimonial-2 .test-item .item {
  padding: 41px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 2px;
  border-radius: 16px;
  background: #fafafa;
}
.testt .testimonial-2 .test-item .item .description {
  color: #131316;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Poppins;
  font-size: 20px;
  font-style: italic;
  font-weight: 400;
  line-height: 150%; /* 30px */
  padding-bottom: 44px;
}
.testt .testimonial-2 .test-item .item h5 {
  color: #131316;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 27px */
}
.testt .testimonial-2 .test-item .item .job {
  color: #131316;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}

@media screen and (max-width: 1220px) {
  .testt {
    padding-bottom: 20px;
  }
  .testt .testimonial-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
  }
  .testt .testimonial-2 h4 {
    text-align: center;
    padding-bottom: 60px;
    padding-top: 30px;
    font-size: 30px;
  }
  .testt .testimonial-2 .test-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
  }
  .testt .testimonial-2 .test-item .item {
    padding: 41px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 2px;
    border-radius: 16px;
    background: #fafafa;
  }
  .testt .testimonial-2 .test-item .item .description {
    color: #131316;
    font-feature-settings: "clig" off, "liga" off;
    font-family: Poppins;
    font-size: 20px;
    font-style: italic;
    font-weight: 400;
    line-height: 150%; /* 30px */
    padding-bottom: 44px;
  }
  .testt .testimonial-2 .test-item .item h5 {
    color: #131316;
    font-feature-settings: "clig" off, "liga" off;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 27px */
  }
  .testt .testimonial-2 .test-item .item .job {
    color: #131316;
    font-feature-settings: "clig" off, "liga" off;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
  }
  .testimonial {
    width: 100%;
    padding: 0;
  }
  .testimonial h3 {
    font-size: 30px;
    font-style: normal;
    font-weight: 300;
  }
  .testimonial img {
    width: 343px;
    height: 199.638px;
    padding-bottom: 20px;
  }
}
.pricing {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
  padding: 104px 300px;
  border-bottom: 1px solid #e9e9ec;
  margin-bottom: 106px;
}
.pricing h4 {
  color: #131316;
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Poppins;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 57.6px */
  letter-spacing: -3px;
}
.pricing .about {
  color: #131316;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 25.6px */
}
.pricing .price-item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}
.pricing .price-item .item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 12px;
  border-radius: 16px;
  background: #fafafa;
  padding: 56px;
}
.pricing .price-item .item h5 {
  color: #131316;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Poppins;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 43.2px */
  letter-spacing: -0.36px;
}
.pricing .price-item .item .des {
  color: #494a4d;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 25.6px */
}
.pricing .price-item .item .free-page {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding-bottom: 24px;
  border-bottom: 1px solid #dfdee2;
  margin-bottom: 20px;
}
.pricing .price-item .item .free-page p {
  margin-bottom: 0;
}
.pricing .price-item .item .facility {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}
.pricing .price-item .item .facility p {
  color: #131316;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 25.6px */
  margin-bottom: 0;
}
.pricing .price-item .item button {
  margin-top: 20px;
  background: #4891FF;
  color: #fff;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  padding: 16px 93px;
  border-radius: 16px;
  border: 2px solid transparent;
  transition: all linear 0.5s;
}
.pricing .price-item .item button:hover {
  border: 2px solid #4891FF;
  background: #fff;
  color: #4891FF;
}
.pricing .price-item .premium {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 12px;
  border-radius: 16px;
  background: #131316;
  padding: 56px;
}
.pricing .price-item .premium h5 {
  color: #fff;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Poppins;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 43.2px */
  letter-spacing: -0.36px;
}
.pricing .price-item .premium .des {
  padding-top: 16px;
  padding-bottom: 20px;
  color: #e5e7eb;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 25.6px */
}
.pricing .price-item .premium .price {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border-bottom: 1px solid #494949;
  padding-bottom: 28px;
}
.pricing .price-item .premium .price h6 {
  color: #fff;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Poppins;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 43.2px */
  letter-spacing: -0.36px;
  margin: 0;
}
.pricing .price-item .premium .price p {
  color: #fff;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 24px */
  letter-spacing: -0.2px;
  margin: 0;
}
.pricing .price-item .premium .plus {
  color: #fff;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 25.6px */
}
.pricing .price-item .premium .facility {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}
.pricing .price-item .premium .facility p {
  color: #fff;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 25.6px */
  margin-bottom: 0;
}
.pricing .price-item .premium button {
  margin-top: 20px;
  background: #4891FF;
  color: #fff;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  padding: 16px 93px;
  border-radius: 16px;
  border: 2px solid transparent;
  transition: all linear 0.5s;
}
.pricing .price-item .premium button:hover {
  border: 2px solid #4891FF;
  background: #fff;
  color: #4891FF;
}
.pricing .final {
  color: #131316;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 25.6px */
}
.pricing .feature {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.pricing .feature p {
  color: #131316;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 24px */
  margin: 0;
}

.question {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.question h5 {
  color: #131316;
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Poppins;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 57.6px */
  letter-spacing: -3px;
}
.question .buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border-radius: 8px;
  background: #f4f4f6;
  padding: 9px 8px;
  margin-bottom: 95px;
}
.question .buttons .btn-1 {
  background: transparent;
  color: #131316;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  padding: 12px 24px;
  border-radius: 8px;
  border: transparent;
  transition: all 0.5s linear;
}
.question .buttons .btn-1:hover {
  background: #4891FF;
}
.question .items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding-bottom: 24px;
}
.question .ask {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 50px;
  padding-bottom: 24px;
  padding-top: 24px;
  border-bottom: 1px solid #dfdee2;
}
.question .ask p {
  color: #131316;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 30px */
  letter-spacing: -0.2px;
  margin: 0;
}
.question .need {
  color: #494a4d;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 25.6px */
  margin: 0;
  padding-bottom: 24px;
  border-bottom: 1px solid #dfdee2;
}

@media screen and (max-width: 1220px) {
  .pricing {
    padding: 0;
  }
  .pricing h4 {
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
  }
  .pricing .final {
    padding-left: 20px;
  }
  .pricing .feature {
    margin-bottom: 20px;
  }
  .pricing .price-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
  }
  .pricing .price-item .item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 12px;
    border-radius: 16px;
    background: #fafafa;
    padding: 56px;
  }
  .pricing .price-item .item h5 {
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
  }
}
@media screen and (max-width: 565px) {
  .question h5 {
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
  }
  .question .items {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 24px;
  }
  .question .ask {
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
  }
  .question .need {
    font-size: 10px;
    font-style: normal;
    font-weight: 300;
  }
}
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #131316;
  margin-top: 100px;
}
.footer .footer-items {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 109px 85px 20px 85px;
  gap: 100px;
}
.footer .footer-items .item-elem {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 42px;
}
.footer .footer-items_item-1 {
  display: flex;
  flex-direction: column;
  gap: 42px;
  align-items: flex-start;
  justify-content: center;
}
.footer .footer-items_item-1 .for-input {
  border-radius: 16px;
  background: #f4f4f6;
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.footer .footer-items_item-1 .for-input h6 {
  color: #35333c;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 30px */
}
.footer .footer-items_item-1 .for-input p {
  color: #131316;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}
.footer .footer-items_item-1 .for-input .itemm {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.footer .footer-items_item-1 .for-input .itemm input {
  border-radius: 8px;
  border: 1px solid #bebdc6;
  padding: 12px 24px 12px 12px;
  color: #605e6d;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}
.footer .footer-items_item-1 .for-input .itemm button {
  background: #4891FF;
  color: #fff;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  padding: 12px 20px;
  border-radius: 8px;
  border: 2px solid transparent;
  transition: all linear 0.5s;
}
.footer .footer-items_item-1 .for-input .itemm button:hover {
  border: 2px solid #4891FF;
  background: #fff;
  color: #4891FF;
}
.footer .footer-items_item-1 .icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.footer .footer-items_item-1 .final {
  color: #bcc2c3;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 21px */
}
.footer .footer-items_main-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 16px;
  margin-top: 70px;
}
.footer .footer-items_main-item ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 16px;
}
.footer .footer-items_main-item ul a {
  color: #bcc2c3;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}
.footer .footer-items_main-item ul a:hover {
  color: #dfdee2;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 21.6px */
}

@media screen and (max-width: 1220px) {
  .footer .footer-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    gap: 10px;
  }
  .footer .footer-items .item-elem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
  }
  .footer .footer-items_item-1 {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    justify-content: center;
  }
  .footer .footer-items_main-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    margin-top: 70px;
  }
  .footer .footer-items_main-item ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
  }
}
@media screen and (max-width: 390px) {
  .footer .footer-items .item-elem img {
    margin-top: 20px;
  }
  .footer .footer-items_item-1 {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    justify-content: center;
  }
  .footer .footer-items_item-1 .for-input {
    padding: 5px;
  }
  .footer .footer-items_main-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    margin-top: 70px;
  }
  .footer .footer-items_main-item ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
  }
}

/*# sourceMappingURL=main.css.map */
