.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #131316;
  margin-top: 100px;
  .footer-items {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 109px 85px 20px 85px;
    gap: 100px;
    .item-elem {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      gap: 42px;
    }
    &_item-1 {
      display: flex;
      flex-direction: column;
      gap: 42px;
      align-items: flex-start;
      justify-content: center;
      .for-input {
        border-radius: 16px;
        background: #f4f4f6;
        padding: 24px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        h6 {
          color: #35333c;
          font-family: Poppins;
          font-size: 20px;
          font-style: normal;
          font-weight: 500;
          line-height: 150%; /* 30px */
        }
        p {
          color: #131316;
          font-family: Poppins;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 150%; /* 24px */
        }
        .itemm {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 16px;
          input {
            border-radius: 8px;
            border: 1px solid #bebdc6;
            padding: 12px 24px 12px 12px;
            color: #605e6d;
            font-family: Poppins;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%; /* 24px */
          }
          button {
            @include button1(12px, 20px, 8px);
          }
        }
      }
      .icons {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 16px;
      }
      .final {
        color: #bcc2c3;
        font-family: Poppins;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%; /* 21px */
      }
    }
    &_main-item {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      gap: 16px;
      margin-top: 70px;
      ul {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 16px;
        a {
          color: #bcc2c3;
          font-family: Poppins;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 150%; /* 24px */
          &:hover {
            color: #dfdee2;
            font-family: Poppins;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%; /* 21.6px */
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1220px) {
  .footer {
    .footer-items {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 0;
      //   padding: 0;
      gap: 10px;
      .item-elem {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 40px;
      }
      &_item-1 {
        display: flex;
        flex-direction: column;
        gap: 40px;
        align-items: center;
        justify-content: center;
      }
      &_main-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 16px;
        margin-top: 70px;
        ul {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          gap: 16px;
        }
        // //   a {
        // //     color: #bcc2c3;
        // //     font-family: Poppins;
        // //     font-size: 16px;
        // //     font-style: normal;
        // //     font-weight: 400;
        // //     line-height: 150%; /* 24px */
        // //     &:hover {
        // //       color: #dfdee2;
        // //       font-family: Poppins;
        // //       font-size: 16px;
        // //       font-style: normal;
        // //       font-weight: 400;
        // //       line-height: 150%; /* 21.6px */
        // //     }
        // //   }
        // }
      }
    }
  }
}

@media screen and (max-width: 390px) {
  .footer {
    .footer-items {
      .item-elem {
        img {
          margin-top: 20px;
        }
      }
      //   display: flex;
      //   flex-direction: column;
      //   align-items: center;
      //   justify-content: center;
      //   padding: 0;
      //   //   padding: 0;
      //   gap: 10px;
      //   .item-elem {
      //     display: flex;
      //     flex-direction: column;
      //     align-items: center;
      //     justify-content: center;
      //     gap: 40px;
      //   }
      &_item-1 {
        display: flex;
        flex-direction: column;
        gap: 40px;
        align-items: center;
        justify-content: center;
        .for-input {
          padding: 5px;
        }
      }
      &_main-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 16px;
        margin-top: 70px;
        ul {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          gap: 16px;
        }
        // //   a {
        // //     color: #bcc2c3;
        // //     font-family: Poppins;
        // //     font-size: 16px;
        // //     font-style: normal;
        // //     font-weight: 400;
        // //     line-height: 150%; /* 24px */
        // //     &:hover {
        // //       color: #dfdee2;
        // //       font-family: Poppins;
        // //       font-size: 16px;
        // //       font-style: normal;
        // //       font-weight: 400;
        // //       line-height: 150%; /* 21.6px */
        // //     }
        // //   }
        // }
      }
    }
  }
}
