
.header {
    &__h1 {
        color: $menuText;
        font-feature-settings: 'clig' off, 'liga' off;
        font-family: Poppins;
        font-size: 64px;
        font-style: normal;
        font-weight: 500;
        line-height: 110%;
        letter-spacing: -2px;
    }

    &__pOne {
        color: $menuText;
        font-family: Poppins;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 160%;
        margin: 24px 0 40px 0;
    }

    &__button {
        display: flex;
        gap: 16px;
    }

    &__buttonOne {
        @include button1(14px, 32px, 16px);
    }

    &__buttonTwo {
        @include button1(14px, 32px, 16px);
        display: flex;
        gap: 10px;
        color: $menuText;
        font-family: Poppins;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%;
        background: $menuBtnbg;
    }

}
