.pricing {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
  padding: 104px 300px;
  border-bottom: 1px solid #e9e9ec;
  margin-bottom: 106px;
  h4 {
    color: #131316;
    text-align: center;
    font-feature-settings: "clig" off, "liga" off;
    font-family: Poppins;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /* 57.6px */
    letter-spacing: -3px;
  }
  .about {
    color: #131316;
    text-align: center;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 25.6px */
  }
  .price-item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    .item {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      gap: 12px;
      border-radius: 16px;
      background: #fafafa;
      padding: 56px;
      h5 {
        color: #131316;
        font-feature-settings: "clig" off, "liga" off;
        font-family: Poppins;
        font-size: 36px;
        font-style: normal;
        font-weight: 500;
        line-height: 120%; /* 43.2px */
        letter-spacing: -0.36px;
      }
      .des {
        color: #494a4d;
        font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 160%; /* 25.6px */
      }
      .free-page {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        padding-bottom: 24px;
        border-bottom: 1px solid #dfdee2;
        margin-bottom: 20px;
        p {
          margin-bottom: 0;
        }
      }
      .facility {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 12px;
        p {
          color: #131316;
          font-family: Poppins;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 160%; /* 25.6px */
          margin-bottom: 0;
        }
      }
      button {
        margin-top: 20px;
        @include button1(16px, 93px, 16px);
      }
    }
    .premium {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      gap: 12px;
      //   background: #000;
      border-radius: 16px;
      background: #131316;
      padding: 56px;
      h5 {
        color: $btnTextColor;
        font-feature-settings: "clig" off, "liga" off;
        font-family: Poppins;
        font-size: 36px;
        font-style: normal;
        font-weight: 500;
        line-height: 120%; /* 43.2px */
        letter-spacing: -0.36px;
      }
      .des {
        padding-top: 16px;
        padding-bottom: 20px;
        color: #e5e7eb;
        font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 160%; /* 25.6px */
      }
      .price {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        border-bottom: 1px solid #494949;
        padding-bottom: 28px;
        h6 {
          color: #fff;
          font-feature-settings: "clig" off, "liga" off;
          font-family: Poppins;
          font-size: 36px;
          font-style: normal;
          font-weight: 500;
          line-height: 120%; /* 43.2px */
          letter-spacing: -0.36px;
          margin: 0;
        }
        p {
          color: #fff;
          font-feature-settings: "clig" off, "liga" off;
          font-family: Poppins;
          font-size: 20px;
          font-style: normal;
          font-weight: 400;
          line-height: 120%; /* 24px */
          letter-spacing: -0.2px;
          margin: 0;
        }
      }
      .plus {
        color: #fff;
        font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 160%; /* 25.6px */
      }
      .facility {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 12px;
        p {
          color: $btnTextColor;
          font-family: Poppins;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 160%; /* 25.6px */
          margin-bottom: 0;
        }
      }
      button {
        margin-top: 20px;
        @include button1(16px, 93px, 16px);
      }
    }
  }
  .final {
    color: #131316;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 25.6px */
  }
  .feature {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    p {
      color: #131316;
      font-family: Inter;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: 150%; /* 24px */
      margin: 0;
    }
  }
}

.question {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  h5 {
    color: #131316;
    text-align: center;
    font-feature-settings: "clig" off, "liga" off;
    font-family: Poppins;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /* 57.6px */
    letter-spacing: -3px;
  }
  .buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    border-radius: 8px;
    background: #f4f4f6;
    padding: 9px 8px;
    margin-bottom: 95px;
    .btn-1 {
      //   @include button1(12px, 24px, 8px);
      background: transparent;
      color: $menuText;
      font-family: Poppins;
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: 150%;
      padding: 12px 24px;
      border-radius: 8px;
      border: transparent;
      transition: all 0.5s linear;
      &:hover {
        background: $btnBgColor;
      }
    }
  }
  .items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding-bottom: 24px;
  }
  .ask {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 50px;
    padding-bottom: 24px;
    padding-top: 24px;
    border-bottom: 1px solid #dfdee2;
    p {
      color: #131316;
      font-feature-settings: "clig" off, "liga" off;
      font-family: Poppins;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%; /* 30px */
      letter-spacing: -0.2px;
      margin: 0;
    }
  }
  .need {
    color: #494a4d;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 25.6px */
    margin: 0;
    padding-bottom: 24px;
    border-bottom: 1px solid #dfdee2;
  }
}

@media screen and (max-width: 1220px) {
  .pricing {
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    // justify-content: center;
    // gap: 24px;
    // padding: 104px 300px;
    // border-bottom: 1px solid #e9e9ec;
    // margin-bottom: 106px;
    padding: 0;
    h4 {
      // color: #131316;
      text-align: center;
      // font-feature-settings: "clig" off, "liga" off;
      // font-family: Poppins;
      font-size: 40px;
      font-style: normal;
      font-weight: 400;
      // line-height: 120%; /* 57.6px */
      // letter-spacing: -3px;
    }
    // .about {
    //   color: #131316;
    //   text-align: center;
    //   font-family: Poppins;
    //   font-size: 16px;
    //   font-style: normal;
    //   font-weight: 400;
    //   line-height: 160%; /* 25.6px */
    // }
    .final {
      padding-left: 20px;
    }
    .feature {
      margin-bottom: 20px;
    }
    .price-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 24px;
      .item {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 12px;
        border-radius: 16px;
        background: #fafafa;
        padding: 56px;
        h5 {
          // color: #131316;
          // font-feature-settings: "clig" off, "liga" off;
          // font-family: Poppins;
          font-size: 30px;
          font-style: normal;
          font-weight: 400;
          // line-height: 120%; /* 43.2px */
          // letter-spacing: -0.36px;
        }
      }
    }
  }
}

@media screen and (max-width: 565px) {
  .question {
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    // justify-content: center;
    // gap: 16px;
    h5 {
      // color: #131316;
      // text-align: center;
      // font-feature-settings: "clig" off, "liga" off;
      // font-family: Poppins;
      font-size: 40px;
      font-style: normal;
      font-weight: 400;
      // line-height: 120%; /* 57.6px */
      // letter-spacing: -3px;
    }
    // .buttons {
    //   display: flex;
    //   align-items: center;
    //   justify-content: center;
    //   gap: 8px;
    //   border-radius: 8px;
    //   background: #f4f4f6;
    //   padding: 9px 8px;
    //   margin-bottom: 95px;
    //   .btn-1 {
    //     //   @include button1(12px, 24px, 8px);
    //     background: transparent;
    //     color: $menuText;
    //     font-family: Poppins;
    //     font-size: 18px;
    //     font-style: normal;
    //     font-weight: 500;
    //     line-height: 150%;
    //     padding: 12px 24px;
    //     border-radius: 8px;
    //     border: transparent;
    //     transition: all 0.5s linear;
    //     &:hover {
    //       background: $btnBgColor;
    //     }
    //   }
    // }
    .items {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      // gap: 12px;
      padding-bottom: 24px;
      // padding: 10px 20px 24px 20px;
    }
    .ask {
      padding-left: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 50px;
      // padding-bottom: 24px;
      // padding-top: 24px;
      // border-bottom: 1px solid #dfdee2;
      // p {
      //   color: #131316;
      //   font-feature-settings: "clig" off, "liga" off;
      //   font-family: Poppins;
      //   font-size: 20px;
      //   font-style: normal;
      //   font-weight: 400;
      //   line-height: 150%; /* 30px */
      //   letter-spacing: -0.2px;
      //   margin: 0;
      // }
    }
    .need {
      // color: #494a4d;
      // font-family: Poppins;
      font-size: 10px;
      font-style: normal;
      font-weight: 300;
      // line-height: 160%; /* 25.6px */
      // margin: 0;
      // padding-bottom: 24px;
      // border-bottom: 1px solid #dfdee2;
    }
  }
}
