.Essential {
    &__div {
        width: 190px;
        height: 190px;
        flex-shrink: 0;
        border-radius: 16px;
        background: $bgL-blue;
        padding: 25px;
    }

    &__img {
        gap: 24px;
    }

    &__button {
        @include button1(6px, 60px, 5px);
        font-size: 12px;
    }

    &__Team {
        color: $menuText;
        text-align: center;
        font-feature-settings: 'clig' off, 'liga' off;
        font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 120%;
    }

    &__invited {
        color: $menuText;
        text-align: center;
        font-family: Poppins;
        font-size: 10px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}

.graphic {
    width: 400px;
    margin-bottom: 140px;
}

.column__div {
    gap: 20px;
    margin-bottom: 190px;
}

.wrapper {
    position: relative;

    &__one {
        width: 40%;
    }

    &__div {
        width: 246.387px;
        height: 170.704px;
        flex-shrink: 0;
        border-radius: 16px;
        background: $bgL-blue;
        padding: 12px;
        position: absolute;
        z-index: 3;
        top: 238px;
        right: -13px;

        &--h5 {
            color: $menuText;
            font-feature-settings: 'clig' off, 'liga' off;
            font-family: Poppins;
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: 120%;
        }

        &--p {
            color: $menuText;
            font-family: Poppins;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
    }

    &__button {
        @include button1(8px, 50px, 6px);
        font-size: 12px;
        margin-left: 31px;
    }
}

.wrapper2 {
    margin-top: -96px;

    &__h1 {
        color: $menuText;
        text-align: center;
        font-feature-settings: 'clig' off, 'liga' off;
        font-family: Poppins;
        font-size: 44px;
        font-style: normal;
        font-weight: 500;
        letter-spacing: -1px;
    }

    &__p {
        color: $essentialText;
        text-align: center;
        font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 160%;
    }
}

.wrapper__one {
    &--h2 {
        color: $menuText;
        font-feature-settings: 'clig' off, 'liga' off;
        font-family: Poppins;
        font-size: 36px;
        font-style: normal;
        font-weight: 500;
        line-height: 120%;
        letter-spacing: -1px;
    }

    &--p {
        color: $essentialText;
        font-family: Poppins;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 160%;
    }

    &--h3 {
        color: $menuText;
        font-feature-settings: 'clig' off, 'liga' off;
        font-family: Poppins;
        font-size: 20px;
        font-style: normal;
        font-weight: 100;
        line-height: 120%;
    }
}

.img2625 {
    position: relative;
}

.yellow__div {
    background: $bgYellow ;

}

.dark__div {
    background: $menuText;
    width: 246.387px;
    height: 204.815px;
    flex-shrink: 0;
    border-radius: 16px;
    padding: 32px;
    position: absolute;
    z-index: 2;
    top: 98px;
    left: 111px;
}

.wrapper2__internal {
    position: relative;
    justify-content: space-between;

    &--p1 {
        color: $btnTextColor;
        font-feature-settings: 'clig' off, 'liga' off;
        font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 120%;
    }

    &--p2 {
        color: $pText;
        font-family: Poppins;
        font-size: 10px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    &--p3 {
        color: $btnTextColor;
        font-feature-settings: 'clig' off, 'liga' off;
        font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 120%;
    }

    &--button {
        @include button1(6px, 70px, 6px);
        font-size: 12px;
    }

    .girl {
        margin-left: 194px;
        position: relative;
        z-index: 2;
        top: -5px;
    }

    .Rectangle {
        margin-left: 200px;
        position: absolute;
        z-index: 1;
        top: 170px;
    }
}

.img-text {
    margin-top: 8px;
    margin-left: 193px;
    gap: 14px;
}

.microfone {
    position: absolute;
    z-index: 4;
    top: 303px;
    left: 517px;
}

.Learn {
    gap: 8px;
}

.img-bg {
    background: $imgBg;
}

.wrapper3 {
    padding-top: 100px;
    justify-content: space-between;

    &__massages {
        width: 288.972px;
        height: 365.017px;
        flex-shrink: 0;
        background: $bgL-blue;
        border-radius: 16px;
        padding: 32px;

        input {
            border-radius: 4px;
            background: $inputBg;
            border: none;
            padding: 4px 0px 4px 37px;
            outline: none;
        }
    }
}

.biography {
    padding: 10px;
    gap: 13px;

    &__p1 {
        color: $menuText;
        font-family: Poppins;
        font-size: 13px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }

    &__p2 {
        color: $pText2;
        font-family: Poppins;
        font-size: 11px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    &__p3 {
        color: $menuText;
        font-family: Poppins;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}

.graphic_img {
    margin-right: -57px;
}

.wrapper4 {
    justify-content: space-between;

    .end__div {
        gap: 18px;

        &--left {
            width: 246.387px;
            height: 346.767px;
            flex-shrink: 0;
            border-radius: 16px;
            background: $menuText;
            padding: 35px 32px;
            display: flex;
            flex-direction: column;
            gap: 20px;
        }

        &--h3 {
            color: $btnTextColor;
            font-feature-settings: 'clig' off, 'liga' off;
            font-family: Poppins;
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: 120%;
        }

        &--p1 {
            color: $btnTextColor;
            font-family: Poppins;
            font-size: 10px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
        }

        &--p2 {
            color: $pText3;
            font-family: Poppins;
            font-size: 8px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }

        &--todo {
            gap: 12px;
        }
    }

    .icon {
        width: 40.557px;
        height: 40.557px;
        flex-shrink: 0;
        border-radius: 8px;
        background: $btnTextColor;
    }

    .right {
        &__top {
            width: 246.387px;
            height: 163.244px;
            flex-shrink: 0;
            border-radius: 16px;
            background: $btnTextColor;
            padding: 32px;

            .number {
                gap: 14px;
            }

            &--p1 {
                color: $menuText;
                font-feature-settings: 'clig' off, 'liga' off;
                font-family: Poppins;
                font-size: 16px;
                font-style: normal;
                font-weight: 600;
                line-height: 120%;
            }

            &--p2 {
                color: $menuText;
                font-feature-settings: 'clig' off, 'liga' off;
                font-family: Poppins;
                font-size: 48px;
                font-style: normal;
                font-weight: 500;
                line-height: 120%;
                letter-spacing: -1px;
            }
        }

        &__bottom {
            width: 246.387px;
            height: 163.244px;
            flex-shrink: 0;
            border-radius: 16px;
            background: $bgYellow;
            padding: 32px;

            .number {
                gap: 14px;
            }
        }
    }
}

.wrapper4 {
    &__h3 {
        color: $menuText;
        font-feature-settings: 'clig' off, 'liga' off;
        font-family: Poppins;
        font-size: 36px;
        font-style: normal;
        font-weight: 500;
        line-height: 120%;
        letter-spacing: -1px;
    }

    &__p {
        color: $essentialText;
        font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 160%;
    }
}

@media(max-width:1400px) {}

@media (max-width:1215px) {

    .wrapper4,
    .wrapper3 {
        flex-wrap: wrap;
    }

    .wrapper2__internal {
        flex-wrap: wrap;
        flex-direction: column-reverse;

        .girl {
            margin-left: 0;
        }

        .Rectangle {
            margin-left: 12px;
            margin-top: 181px;
        }

        .microfone {
            top: 485px;
            left: 552px;
        }

        .dark__div {
            top: 289px;
            left: 146px;
        }
        .img-text{
            margin-left: 12px;
        }
    }
    .margin{
        margin-top: 50px;
    }
    .wrapper2{
        &__dashboard{
            display: flex;
            flex-wrap: wrap;
        }
    }
}

@media (max-width:1202px) {

    .wrapper4,
    .wrapper3,
    .wrapper2__internal {
        justify-content: center;
    }

    .Business {
        margin-left: 115px;
    }
}