.testimonial {
  padding-top: 97px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 44px;
  background: $menuText;
  padding-bottom: 104px;
  border-bottom: 1px solid #494949;
  h3 {
    color: $btnTextColor;
    text-align: center;
    font-feature-settings: "clig" off, "liga" off;
    font-family: Poppins;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /* 57.6px */
    letter-spacing: -1px;
  }
  img {
    width: 835px;
    height: 486px;
    padding-bottom: 20px;
  }
  button {
    @include button1(16px, 32px, 16px);
    margin-bottom: 20px;
  }
}

.testt {
  display: flex;
  align-items: center;
  justify-content: center;
  background: $menuText;

  .testimonial-2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    //   padding-top: 105px;
    padding: 105px 85px;
    h4 {
      padding-bottom: 65px;
      color: $btnTextColor;
      font-feature-settings: "clig" off, "liga" off;
      font-family: Poppins;
      font-size: 48px;
      font-style: normal;
      font-weight: 500;
      line-height: 120%; /* 57.6px */
      letter-spacing: -1px;
    }
    .test-item {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      gap: 24px;
      .item {
        padding: 41px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 2px;
        border-radius: 16px;
        background: #fafafa;
        .description {
          color: #131316;
          font-feature-settings: "clig" off, "liga" off;
          font-family: Poppins;
          font-size: 20px;
          font-style: italic;
          font-weight: 400;
          line-height: 150%; /* 30px */
          padding-bottom: 44px;
        }
        h5 {
          color: #131316;
          font-feature-settings: "clig" off, "liga" off;
          font-family: Poppins;
          font-size: 18px;
          font-style: normal;
          font-weight: 600;
          line-height: 150%; /* 27px */
        }
        .job {
          color: #131316;
          font-feature-settings: "clig" off, "liga" off;
          font-family: Poppins;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 150%; /* 24px */
        }
      }
    }
  }
}

@media screen and (max-width: 1220px) {
  .testt {
    padding-bottom: 20px;
    .testimonial-2 {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      //   padding-top: 105px;
      // padding: 100px 85px;
      padding: 0;
      h4 {
        text-align: center;
        padding-bottom: 60px;
        padding-top: 30px;

        font-size: 30px;
      }
      .test-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 24px;
        .item {
          padding: 41px;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: center;
          gap: 2px;
          border-radius: 16px;
          background: #fafafa;
          .description {
            color: #131316;
            font-feature-settings: "clig" off, "liga" off;
            font-family: Poppins;
            font-size: 20px;
            font-style: italic;
            font-weight: 400;
            line-height: 150%; /* 30px */
            padding-bottom: 44px;
          }
          h5 {
            color: #131316;
            font-feature-settings: "clig" off, "liga" off;
            font-family: Poppins;
            font-size: 18px;
            font-style: normal;
            font-weight: 600;
            line-height: 150%; /* 27px */
          }
          .job {
            color: #131316;
            font-feature-settings: "clig" off, "liga" off;
            font-family: Poppins;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%; /* 24px */
          }
        }
      }
    }
  }

  .testimonial {
    width: 100%;
    // padding: 100px 85px;
    padding: 0;
    // padding-top: 97px;
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    // justify-content: center;
    // gap: 44px;
    // background: $menuText;
    // padding-bottom: 104px;
    // border-bottom: 1px solid #494949;
    h3 {
      font-size: 30px;
      font-style: normal;
      font-weight: 300;
    }
    img {
      width: 343px;
      height: 199.638px;
      padding-bottom: 20px;
    }
  }
}
