

@mixin button1($paddingTB, $paddingLR, $borderRadius) {
    background: $btnBgColor;
    color: $btnTextColor;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    padding: $paddingTB $paddingLR;
    border-radius:$borderRadius;
    border:2px solid  transparent;
    transition: all linear 0.5s;
    &:hover{
        border:2px solid $btnBgColor;
        background: $btnTextColor;
        color: $btnBgColor;
    }
};

@mixin button2($bgButton) {
    border-radius: 8px;
    background: $bgButton;
    padding: 16px 63px;
}