$menuText :#131316;
$btnBgColor:#4891FF;
$bgL-blue:#DAF4FE;
$btnTextColor:#fff;
$bgYellow:#F6FEE0;
$menuBtnbg:#F5F5F5;
$essentialText:#494A4D;
$pText:#DFECF4;
$imgBg:#FAFAFA;
$inputBg:rgba(255, 255, 255, 0.50);
$pText2:rgba(0, 0, 0, 0.70);
$pText3:#DBEDF8;
