.header__h1 {
  color: #131316;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Poppins;
  font-size: 64px;
  font-style: normal;
  font-weight: 500;
  line-height: 110%;
  letter-spacing: -2px;
}
.header__pOne {
  color: #131316;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  margin: 24px 0 40px 0;
}
.header__button {
  display: flex;
  gap: 16px;
}
.header__buttonOne {
  background: #4891FF;
  color: #fff;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  padding: 14px 32px;
  border-radius: 16px;
  border: transparent;
}
.header__buttonTwo {
  background: #4891FF;
  color: #fff;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  padding: 14px 32px;
  border-radius: 16px;
  border: transparent;
  display: flex;
  gap: 10px;
  color: #131316;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  background: #F5F5F5;
}

.Essential__div {
  width: 190px;
  height: 190px;
  flex-shrink: 0;
  border-radius: 16px;
  background: #DAF4FE;
  padding: 25px;
}
.Essential__img {
  gap: 24px;
}
.Essential__button {
  background: #4891FF;
  color: #fff;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  padding: 6px 60px;
  border-radius: 5px;
  border: transparent;
  font-size: 12px;
}
.Essential__Team {
  color: #131316;
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
}
.Essential__invited {
  color: #131316;
  text-align: center;
  font-family: Poppins;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.graphic {
  width: 400px;
  margin-bottom: 140px;
}

.column__div {
  gap: 20px;
  margin-bottom: 190px;
}

.wrapper {
  position: relative;
}
.wrapper__one {
  width: 40%;
}
.wrapper__div {
  width: 246.387px;
  height: 170.704px;
  flex-shrink: 0;
  border-radius: 16px;
  background: #DAF4FE;
  padding: 12px;
  position: absolute;
  z-index: 3;
  top: 238px;
  right: -13px;
}
.wrapper__div--h5 {
  color: #131316;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
}
.wrapper__div--p {
  color: #131316;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.wrapper__button {
  background: #4891FF;
  color: #fff;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  padding: 8px 50px;
  border-radius: 6px;
  border: transparent;
  font-size: 12px;
  margin-left: 31px;
}

.wrapper2 {
  margin-top: -96px;
}
.wrapper2__h1 {
  color: #131316;
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Poppins;
  font-size: 44px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: -1px;
}
.wrapper2__p {
  color: #494A4D;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}

.wrapper__one--h2 {
  color: #131316;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Poppins;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: -1px;
}
.wrapper__one--p {
  color: #494A4D;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}
.wrapper__one--h3 {
  color: #131316;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 100;
  line-height: 120%;
}

.yellow__div {
  background: #F6FEE0;
}

.dark__div {
  background: #131316;
  width: 246.387px;
  height: 204.815px;
  flex-shrink: 0;
  border-radius: 16px;
  padding: 32px;
  position: absolute;
  z-index: 2;
  top: 123px;
  left: 61px;
}

.wrapper2__internal {
  position: relative;
}
.wrapper2__internal--p1 {
  color: #fff;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
}
.wrapper2__internal--p2 {
  color: #DFECF4;
  font-family: Poppins;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.wrapper2__internal--p3 {
  color: #fff;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
}
.wrapper2__internal--button {
  background: #4891FF;
  color: #fff;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  padding: 6px 70px;
  border-radius: 6px;
  border: transparent;
  font-size: 12px;
}
.wrapper2__internal .girl {
  margin-left: 200px;
  position: relative;
  z-index: 2;
  top: 90px;
}
.wrapper2__internal .Rectangle {
  margin-left: 200px;
  position: absolute;
  z-index: 1;
  top: 170px;
}

.img-text {
  margin-top: 106px;
  margin-left: 193px;
  gap: 14px;
}

.microfone {
  position: absolute;
  z-index: 4;
  top: 303px;
  left: 474px;
}

.Learn {
  gap: 8px;
}

.img-bg {
  background: #FAFAFA;
}

.wrapper3__massages {
  width: 288.972px;
  height: 365.017px;
  flex-shrink: 0;
  background: #DAF4FE;
  border-radius: 16px;
  padding: 32px;
}
.wrapper3__massages input {
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.5);
  border: none;
  padding: 4px 0px 4px 37px;
  outline: none;
}

.biography {
  padding: 10px;
}
.biography__p1 {
  color: #131316;
  font-family: Poppins;
  font-size: 56px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

/*# sourceMappingURL=main.css.map */
